.center {
    display: 'flex';
    align-content: center;
    vertical-align: center;
    width: 100%;
}

.padre {
    text-align: center;
    margin-top: 100px;
}

    /*
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    IMPORTANTE
    text-align: center;
    */

.text-center {
    text-align: center;
}

.vertical-center {
    vertical-align: center;
}

.vertical-middle {
    padding-top: 30%;
}
